<button class="start-button" (click)="openModal()">{{btnlabel}}</button>

<div class="mask" *ngIf="modalOpened"></div>
<div class="modal" *ngIf="modalOpened">
    <div class="modal-header">
        <h2>{{modalHeading}}</h2>
        <span class="close" (click)="closeModal()">x</span>
    </div>
    <div class="modal-body">
        <div class="carousel">
            <ul class="slides">
                <li *ngFor="let image of slides; let index = index" [ngClass]="{show: (index===currentIndex)}">
                    <img src="{{image}}" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="clearfix" style="padding-top: 15px;">
            <div class="left">
                <label for="dontShowNext">
        <input type="checkbox" [(ngModel)]="notAgain"> Don't show me again
        </label>
            </div>
            <div class="left" style="text-align: center;">
                Viewing {{currentIndex + 1}} of {{slides.length}}
            </div>
            <div class="left">
                <div class="action-buttons right">
                    <button [disabled]="currentIndex === 0" (click)="prevPage()">Previous</button>
                    <button *ngIf="currentIndex !== (slides.length-1)" (click)="nextPage()">Next</button>
                    <button *ngIf="currentIndex === (slides.length-1)" (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>