<button class="start-button" (click)="openModal()">{{btnlabel}}</button>

<div class="mask" *ngIf="modalOpened"></div>
<div class="modal" *ngIf="modalOpened">
    <div class="modal-header">
        <h2>{{modalHeading}}</h2>
        <span class="close"></span>
    </div>
    <div class="modal-body">
        <div class="carousel">
            <ul class="slides">
                <li *ngFor="let image of slides">
                    <img src="{{image}}" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="clearfix" style="padding-top: 15px;">
            <div class="left">
                <label for="dontShowNext">
        <input type="checkbox"> Don't show me again
        </label>
            </div>
            <div class="left" style="text-align: center;">
                Viewing 1 of 6
            </div>
            <div class="left">
                <div class="action-buttons right">
                    <button [disabled]=true>Previous</button>
                    <button>Next</button>
                </div>
            </div>
        </div>
    </div>
</div>