<h1>Set 12 components</h1>

<strong>Breadceumb:</strong>
<breadcrumb [options]="breadcrumb.options" [continerClass]="breadcrumb.class"></breadcrumb>

<br>
<br>
<strong>First Time walk Through:</strong>
<br>
<br>
<div>
    <walk-through
        [slides]="walkThrough.images"
        [btnlabel]="walkThrough.buttonText"
        [modalHeading]= "walkThrough.heading"
        (onClose) = "modalCLosed($event)"
    ></walk-through>
</div>

<br>
<br>
<br>
<strong>Combobox :</strong>
<br>
<br>
<div class="clearfix">
    <div>
        Strict Compare:
        <br>
        <combo-box 
            [options]="combobox.options"
            [selected]="combobox.value"
            [strictCompare]= "combobox.strictSearch" 
            [searchFor]="combobox.searchWith"
            (afterSelection)="selectionMadeCallBack($event)"
            ></combo-box>
    </div>

    <div>
        Non-Strict Compare:
        <br>
        <combo-box 
            [options]="combobox.options"
            [selected]="combobox.value" 
            [searchFor]="combobox.searchWith"
            (afterSelection)="selectionMadeCallBack($event)"
        ></combo-box>
    </div>
</div>
